header    
    h1 This is a pug header
    h2 Its so naughty 
    h3 Its very pretty 
    p Its very masoom
products 
    h1 These are the products using For/Each Loop 
        each n in [{id:1,name:"Hashim",photo:"adas"},{id:1,name:"Hashim",photo:"adas"},{id:1,name:"Hashim",photo:"adas"},{id:1,name:"Hashim",photo:"adas"}]
            p=n.id+","+n.name+","+n.photo
footer
    h1 This is a pug footer
    h2 Its so cruel 
    h3 Its very ugly 
    p Its very evil